<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaums.ework.promote.mapper.OnlineSrvUserMapper">
  <resultMap id="BaseResultMap" type="com.chinaums.ework.promote.entity.OnlineSrvUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROMOTE_CODE" jdbcType="VARCHAR" property="promoteCode" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="LOGIN_PWD" jdbcType="VARCHAR" property="loginPwd" />
    <result column="ADMIN_FLAG" jdbcType="VARCHAR" property="adminFlag" />
    <result column="BIND_DN" jdbcType="VARCHAR" property="bindDn" />
    <result column="CERT_CN" jdbcType="VARCHAR" property="certCn" />
    <result column="NAME" jdbcType="NVARCHAR" property="name" />
    <result column="EMAIL" jdbcType="NVARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="LOGIN_FLAG" jdbcType="VARCHAR" property="loginFlag" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="REMARKS" jdbcType="NVARCHAR" property="remarks" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
  </resultMap>
</mapper>