<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tkmybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.tkmybatis.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <select id="findAll" resultType="User">
    select id,name,birthday,address from user
  </select>
</mapper>